# "NFL Score Prediction"
> "Predict how many points each team will score in a game"
- toc: false
- branch: master
- badges: true
- comments: true
- categories: [fastpages, jupyter]
- image: images/some_folder/your_image.png
- hide: false
- search_exclude: true
- metadata_key1: metadata_value1
- metadata_key2: metadata_value2

This is a work in progress, something fun to do for a sport I'm interested in. Go Browns!

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [2]:
df = pd.read_csv("C:/NFL Prediction/Data Raw/season18.csv",index_col=0)

In [3]:
df.head()

       GameID        date home away  homescore  awayscore
1  2018090600  2018-09-06  PHI  ATL         18         12
2  2018090900  2018-09-09  BAL  BUF         47          3
3  2018090907  2018-09-09  NYG  JAX         15         20
4  2018090906  2018-09-09   NO   TB         40         48
5  2018090905  2018-09-09   NE  HOU         27         20

### Work out who won each game and create a record for each game and team combination

In [4]:
df['homewin'] = np.where(df['homescore']> df['awayscore'],1,0)
df['awaywin'] = np.where(df['homescore']< df['awayscore'],1,0)

In [5]:
df.head()

       GameID        date home away  homescore  awayscore  homewin  awaywin
1  2018090600  2018-09-06  PHI  ATL         18         12        1        0
2  2018090900  2018-09-09  BAL  BUF         47          3        1        0
3  2018090907  2018-09-09  NYG  JAX         15         20        0        1
4  2018090906  2018-09-09   NO   TB         40         48        0        1
5  2018090905  2018-09-09   NE  HOU         27         20        1        0

In [6]:
home = df.drop(['awaywin'],axis=1)

In [7]:
home = home.rename(columns={'home':'team','homescore':'PF','awayscore':'PA','homewin':'win','away':'opponent'})

In [8]:
home.head()

       GameID        date team opponent  PF  PA  win
1  2018090600  2018-09-06  PHI      ATL  18  12    1
2  2018090900  2018-09-09  BAL      BUF  47   3    1
3  2018090907  2018-09-09  NYG      JAX  15  20    0
4  2018090906  2018-09-09   NO       TB  40  48    0
5  2018090905  2018-09-09   NE      HOU  27  20    1

In [9]:
home['hometeam'] = 1

In [10]:
home.tail()

         GameID        date team opponent  PF  PA  win  hometeam
252  2018123000  2018-12-30  BAL      CLE  26  24    1         1
253  2018123014  2018-12-30   LA       SF  48  32    1         1
254  2018123009  2018-12-30  PIT      CIN  16  13    1         1
255  2018123015  2018-12-30  SEA      ARI  27  24    1         1
256  2018123011  2018-12-30  TEN      IND  17  33    0         1

In [11]:
away = df.drop(['homewin'],axis=1)
away = away[['GameID','date','away','home','awayscore','homescore','awaywin']]
away = away.rename(columns={'away':'team','awayscore':'PF','homescore':'PA','awaywin':'win','home':'opponent'})
away['hometeam'] = 0
away.head()

       GameID        date team opponent  PF  PA  win  hometeam
1  2018090600  2018-09-06  ATL      PHI  12  18    0         0
2  2018090900  2018-09-09  BUF      BAL   3  47    0         0
3  2018090907  2018-09-09  JAX      NYG  20  15    1         0
4  2018090906  2018-09-09   TB       NO  48  40    1         0
5  2018090905  2018-09-09  HOU       NE  20  27    0         0

In [12]:
scores = pd.concat([home,away])

In [13]:
scores.shape

(512, 8)

In [14]:
scores = scores.sort_values(['team','date'])
scores = scores.reset_index(drop=True)

In [15]:
scores.head()

       GameID        date team opponent  PF  PA  win  hometeam
0  2018090909  2018-09-09  ARI      WAS   6  24    0         1
1  2018091609  2018-09-16  ARI       LA   0  34    0         0
2  2018092311  2018-09-23  ARI      CHI  14  16    0         1
3  2018093008  2018-09-30  ARI      SEA  17  20    0         1
4  2018100710  2018-10-07  ARI       SF  28  18    1         0

### Create moving average score variables

In [16]:
ma1 = scores.groupby('team')['PF'].shift().rolling(1).mean().reset_index()
ma2 = scores.groupby('team')['PF'].shift().rolling(2).mean().reset_index()
ma3 = scores.groupby('team')['PF'].shift().rolling(3).mean().reset_index()

In [17]:
scores['score1MA'] = ma1['PF']
scores['score2MA'] = ma2['PF']
scores['score3MA'] = ma3['PF']

In [18]:
scores

,GameID,date,team,opponent,PF,PA,win,hometeam,score1MA,score2MA,score3MA
0,2018090909,2018-09-09,ARI,WAS,6,24,0,1,NaN,NaN,NaN
1,2018091609,2018-09-16,ARI,LA,0,34,0,0,6.0,NaN,NaN
2,2018092311,2018-09-23,ARI,CHI,14,16,0,1,0.0,3.0,NaN
3,2018093008,2018-09-30,ARI,SEA,17,20,0,1,14.0,7.0,6.666667
4,2018100710,2018-10-07,ARI,SF,28,18,1,0,17.0,15.5,10.333333
5,2018101405,2018-10-14,ARI,MIN,17,27,0,0,28.0,22.5,19.666667
6,2018101800,2018-10-18,ARI,DEN,10,45,0,1,17.0,22.5,20.666667
7,2018102809,2018-10-28,ARI,SF,18,15,1,1,10.0,13.5,18.333333
8,2018111105,2018-11-11,ARI,KC,14,26,0,0,18.0,14.0,15.000000
9,2018111807,2018-11-18,ARI,OAK,21,23,0,1,14.0,16.0,14.000000
10,2018112508,2018-11-25,ARI,LAC,10,45,0,0,21.0,17.5,17.666667
11,2018120203,2018-12-02,ARI,GB,20,17,1,0,10.0,15.5,15.000000
12,2018120911,2018-12-09,ARI,DET,3,17,0,1,20.0,15.0,17.000000
13,2018121600,2018-12-16,ARI,ATL,14,40,0,0,3.0,11.5,11.000000
14,2018122311,2018-12-23,ARI,LA,9,31,0,1,14.0,8.5,12.333333
15,2018123015,2018-12-30,ARI,SEA,24,27,0,0,9.0,11.5,8.666667
16,2018090600,2018-09-06,ATL,PHI,12,18,0,0,NaN,NaN,NaN
17,2018091600,2018-09-16,ATL,CAR,31,24,1,1,12.0,NaN,NaN
18,2018092300,2018-09-23,ATL,NO,37,43,0,1,31.0,21.5,NaN
19,2018093000,2018-09-30,ATL,CIN,36,37,0,1,37.0,34.0,26.666667
20,2018100707,2018-10-07,ATL,PIT,17,41,0,0,36.0,36.5,34.666667
21,2018101400,2018-10-14,ATL,TB,34,29,1,1,17.0,26.5,30.000000
22,2018102200,2018-10-22,ATL,NYG,23,20,1,1,34.0,25.5,29.000000
23,2018110406,2018-11-04,ATL,WAS,38,14,1,0,23.0,28.5,24.666667
24,2018111102,2018-11-11,ATL,CLE,16,28,0,0,38.0,30.5,31.666667
25,2018111800,2018-11-18,ATL,DAL,19,22,0,1,16.0,27.0,25.666667
26,2018112202,2018-11-22,ATL,NO,17,31,0,0,19.0,17.5,24.333333
27,2018120200,2018-12-02,ATL,BAL,16,26,0,1,17.0,18.0,17.333333
28,2018120903,2018-12-09,ATL,GB,20,34,0,0,16.0,16.5,17.333333
29,2018121600,2018-12-16,ATL,ARI,40,14,1,1,20.0,18.0,17.666667
...,...,...,...,...,...,...,...,...,...,...,...
482,2018092304,2018-09-23,TEN,JAX,9,6,1,0,20.0,20.0,NaN
483,2018093007,2018-09-30,TEN,PHI,26,23,1,1,9.0,14.5,16.333333
484,2018100700,2018-10-07,TEN,BUF,12,13,0,0,26.0,17.5,18.333333
485,2018101411,2018-10-14,TEN,BAL,0,21,0,1,12.0,19.0,15.666667
486,2018102100,2018-10-21,TEN,LAC,19,20,0,0,0.0,6.0,12.666667
487,2018110500,2018-11-05,TEN,DAL,28,14,1,0,19.0,9.5,10.333333
488,2018111108,2018-11-11,TEN,NE,34,10,1,1,28.0,23.5,15.666667
489,2018111804,2018-11-18,TEN,IND,10,38,0,0,34.0,31.0,27.000000
490,2018112600,2018-11-26,TEN,HOU,17,34,0,0,10.0,22.0,24.000000
491,2018120211,2018-12-02,TEN,NYJ,26,22,1,1,17.0,13.5,20.333333
492,2018120600,2018-12-06,TEN,JAX,30,9,1,1,26.0,21.5,17.666667
493,2018121608,2018-12-16,TEN,NYG,17,0,1,0,30.0,28.0,24.333333
494,2018122200,2018-12-22,TEN,WAS,25,16,1,1,17.0,23.5,24.333333
495,2018123011,2018-12-30,TEN,IND,17,33,0,1,25.0,21.0,24.000000
496,2018090909,2018-09-09,WAS,ARI,24,6,1,0,NaN,NaN,NaN
497,2018091608,2018-09-16,WAS,IND,9,21,0,1,24.0,NaN,NaN
498,2018092309,2018-09-23,WAS,GB,31,17,1,1,9.0,16.5,NaN
499,2018100800,2018-10-08,WAS,NO,19,43,0,0,31.0,20.0,21.333333
500,2018101408,2018-10-14,WAS,CAR,23,17,1,1,19.0,25.0,19.666667
501,2018102110,2018-10-21,WAS,DAL,20,17,1,1,23.0,21.0,24.333333
502,2018102806,2018-10-28,WAS,NYG,20,13,1,0,20.0,21.5,20.666667
503,2018110406,2018-11-04,WAS,ATL,14,38,0,1,20.0,20.0,21.000000
504,2018111107,2018-11-11,WAS,TB,16,3,1,0,14.0,17.0,18.000000
505,2018111806,2018-11-18,WAS,HOU,21,23,0,1,16.0,15.0,16.666667
506,2018112201,2018-11-22,WAS,DAL,23,31,0,0,21.0,18.5,17.000000
507,2018120300,2018-12-03,WAS,PHI,13,28,0,0,23.0,22.0,20.000000
508,2018120908,2018-12-09,WAS,NYG,16,40,0,1,13.0,18.0,19.000000
509,2018121606,2018-12-16,WAS,JAX,16,13,1,0,16.0,14.5,17.333333
510,2018122200,2018-12-22,WAS,TEN,16,25,0,0,16.0,16.0,15.000000
511,2018123012,2018-12-30,WAS,PHI,0,24,0,1,16.0,16.0,16.000000

In [19]:
scores_2 = pd.merge(scores,scores,how='left', left_on=['GameID','opponent'], right_on = ['GameID','team'], suffixes= ("","_opponent"))

In [20]:
scores_2.head()

,GameID,date,team,opponent,PF,PA,win,hometeam,score1MA,score2MA,...,date_opponent,team_opponent,opponent_opponent,PF_opponent,PA_opponent,win_opponent,hometeam_opponent,score1MA_opponent,score2MA_opponent,score3MA_opponent
0,2018090909,2018-09-09,ARI,WAS,6,24,0,1,NaN,NaN,...,2018-09-09,WAS,ARI,24,6,1,0,NaN,NaN,NaN
1,2018091609,2018-09-16,ARI,LA,0,34,0,0,6.0,NaN,...,2018-09-16,LA,ARI,34,0,1,1,33.0,NaN,NaN
2,2018092311,2018-09-23,ARI,CHI,14,16,0,1,0.0,3.0,...,2018-09-23,CHI,ARI,16,14,1,0,24.0,23.5,NaN
3,2018093008,2018-09-30,ARI,SEA,17,20,0,1,14.0,7.0,...,2018-09-30,SEA,ARI,20,17,1,0,24.0,20.5,21.666667
4,2018100710,2018-10-07,ARI,SF,28,18,1,0,17.0,15.5,...,2018-10-07,SF,ARI,18,28,0,1,27.0,27.0,28.000000

In [21]:
scores_2 = scores_2.drop(['date_opponent','team_opponent','opponent_opponent','PF_opponent','PA_opponent','win_opponent','hometeam_opponent'],axis=1)

### Create win record coming into the game

In [86]:
scores_2['cum_wins'] = scores.groupby('team')['win'].transform(lambda x: x.cumsum().shift())
scores_2['cum_PF'] = scores.groupby('team')['PF'].transform(lambda x: x.cumsum().shift())
scores_2['cum_PA'] = scores.groupby('team')['PA'].transform(lambda x: x.cumsum().shift())
scores_2['cum_games'] = scores.groupby('team').cumcount()
scores_2['cum_wins'] = scores_2['cum_wins'].fillna(0)
scores_2['win_pct'] = scores_2['cum_wins']/scores_2['cum_games']

In [87]:
scores_2

,GameID,date,team,opponent,PF,PA,win,hometeam,score1MA,score2MA,score3MA,score1MA_opponent,score2MA_opponent,score3MA_opponent,cum_wins,cum_games,win_pct,cum_PF,cum_PA
0,2018090909,2018-09-09,ARI,WAS,6,24,0,1,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0,NaN,NaN,NaN
1,2018091609,2018-09-16,ARI,LA,0,34,0,0,6.0,0.0,0.000000,33.0,0.0,0.000000,0.0,1,0.000000,6.0,24.0
2,2018092311,2018-09-23,ARI,CHI,14,16,0,1,0.0,3.0,0.000000,24.0,23.5,0.000000,0.0,2,0.000000,6.0,58.0
3,2018093008,2018-09-30,ARI,SEA,17,20,0,1,14.0,7.0,6.666667,24.0,20.5,21.666667,0.0,3,0.000000,20.0,74.0
4,2018100710,2018-10-07,ARI,SF,28,18,1,0,17.0,15.5,10.333333,27.0,27.0,28.000000,0.0,4,0.000000,37.0,94.0
5,2018101405,2018-10-14,ARI,MIN,17,27,0,0,28.0,22.5,19.666667,23.0,27.0,20.000000,1.0,5,0.200000,65.0,112.0
6,2018101800,2018-10-18,ARI,DEN,10,45,0,1,17.0,22.5,20.666667,20.0,18.0,19.666667,1.0,6,0.166667,82.0,139.0
7,2018102809,2018-10-28,ARI,SF,18,15,1,1,10.0,13.5,18.333333,10.0,20.0,19.333333,1.0,7,0.142857,92.0,184.0
8,2018111105,2018-11-11,ARI,KC,14,26,0,0,18.0,14.0,15.000000,37.0,33.5,37.333333,2.0,8,0.250000,110.0,199.0
9,2018111807,2018-11-18,ARI,OAK,21,23,0,1,14.0,16.0,14.000000,6.0,4.5,12.333333,2.0,9,0.222222,124.0,225.0
10,2018112508,2018-11-25,ARI,LAC,10,45,0,0,21.0,17.5,17.666667,22.0,21.0,22.333333,2.0,10,0.200000,145.0,248.0
11,2018120203,2018-12-02,ARI,GB,20,17,1,0,10.0,15.5,15.000000,17.0,20.5,24.000000,2.0,11,0.181818,155.0,293.0
12,2018120911,2018-12-09,ARI,DET,3,17,0,1,20.0,15.0,17.000000,16.0,16.0,17.333333,3.0,12,0.250000,175.0,310.0
13,2018121600,2018-12-16,ARI,ATL,14,40,0,0,3.0,11.5,11.000000,20.0,18.0,17.666667,3.0,13,0.230769,178.0,327.0
14,2018122311,2018-12-23,ARI,LA,9,31,0,1,14.0,8.5,12.333333,23.0,14.5,19.666667,3.0,14,0.214286,192.0,367.0
15,2018123015,2018-12-30,ARI,SEA,24,27,0,0,9.0,11.5,8.666667,38.0,30.5,27.333333,3.0,15,0.200000,201.0,398.0
16,2018090600,2018-09-06,ATL,PHI,12,18,0,0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0,NaN,NaN,NaN
17,2018091600,2018-09-16,ATL,CAR,31,24,1,1,12.0,0.0,0.000000,16.0,0.0,0.000000,0.0,1,0.000000,12.0,18.0
18,2018092300,2018-09-23,ATL,NO,37,43,0,1,31.0,21.5,0.000000,21.0,30.5,0.000000,1.0,2,0.500000,43.0,42.0
19,2018093000,2018-09-30,ATL,CIN,36,37,0,1,37.0,34.0,26.666667,21.0,27.5,29.666667,1.0,3,0.333333,80.0,85.0
20,2018100707,2018-10-07,ATL,PIT,17,41,0,0,36.0,36.5,34.666667,14.0,22.0,27.000000,1.0,4,0.250000,116.0,122.0
21,2018101400,2018-10-14,ATL,TB,34,29,1,1,17.0,26.5,30.000000,10.0,18.5,21.333333,1.0,5,0.200000,133.0,163.0
22,2018102200,2018-10-22,ATL,NYG,23,20,1,1,34.0,25.5,29.000000,13.0,22.0,20.666667,2.0,6,0.333333,167.0,192.0
23,2018110406,2018-11-04,ATL,WAS,38,14,1,0,23.0,28.5,24.666667,20.0,20.0,21.000000,3.0,7,0.428571,190.0,212.0
24,2018111102,2018-11-11,ATL,CLE,16,28,0,0,38.0,30.5,31.666667,21.0,19.5,20.666667,4.0,8,0.500000,228.0,226.0
25,2018111800,2018-11-18,ATL,DAL,19,22,0,1,16.0,27.0,25.666667,27.0,20.5,19.333333,4.0,9,0.444444,244.0,254.0
26,2018112202,2018-11-22,ATL,NO,17,31,0,0,19.0,17.5,24.333333,48.0,49.5,48.000000,4.0,10,0.400000,263.0,276.0
27,2018120200,2018-12-02,ATL,BAL,16,26,0,1,17.0,18.0,17.333333,34.0,29.0,24.666667,4.0,11,0.363636,280.0,307.0
28,2018120903,2018-12-09,ATL,GB,20,34,0,0,16.0,16.5,17.333333,17.0,17.0,19.333333,4.0,12,0.333333,296.0,333.0
29,2018121600,2018-12-16,ATL,ARI,40,14,1,1,20.0,18.0,17.666667,3.0,11.5,11.000000,4.0,13,0.307692,316.0,367.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,2018092304,2018-09-23,TEN,JAX,9,6,1,0,20.0,20.0,0.000000,31.0,25.5,0.000000,1.0,2,0.500000,40.0,44.0
483,2018093007,2018-09-30,TEN,PHI,26,23,1,1,9.0,14.5,16.333333,20.0,20.5,19.666667,2.0,3,0.666667,49.0,50.0
484,2018100700,2018-10-07,TEN,BUF,12,13,0,0,26.0,17.5,18.333333,0.0,13.5,15.666667,3.0,4,0.750000,75.0,73.0
485,2018101411,2018-10-14,TEN,BAL,0,21,0,1,12.0,19.0,15.666667,9.0,17.5,20.666667,3.0,5,0.600000,87.0,86.0
486,2018102100,2018-10-21,TEN,LAC,19,20,0,0,0.0,6.0,12.666667,38.0,32.0,31.000000,3.0,6,0.500000,87.0,107.0
487,2018110500,2018-11-05,TEN,DAL,28,14,1,0,19.0,9.5,10.333333,17.0,28.5,24.333333,3.0,7,0.428571,106.0,127.0
488,2018111108,2018-11-11,TEN,NE,34,10,1,1,28.0,23.5,15.666667,31.0,28.0,31.333333,4.0,8,0.500000,134.0,141.0
489,2018111804,2018-11-18,TEN,IND,10,38,0,0,34.0,31.0,27.000000,29.0,35.5,36.000000,5.0,9,0.555556,168.0,151.0
490,2018112600,2018-11-26,TEN,HOU,17,34,0,0,10.0,22.0,24.000000,23.0,21.0,28.000000,5.0,10,0.500000,178.0,189.0
491,2018120211,2018-12-02,TEN,NYJ,26,22,1,1,17.0,13.5,20.333333,13.0,11.5,9.666667,5.0,11,0.454545,195.0,223.0
492,2018120600,2018-12-06,TEN,JAX,30,9,1,1,26.0,21.5,17.666667,6.0,13.5,14.333333,6.0,12,0.500000,221.0,245.0
493,2018121608,2018-12-16,TEN,NYG,17,0,1,0,30.0,28.0,24.333333,40.0,35.0,30.666667,7.0,13,0.538462,251.0,254.0
494,2018122200,2018-12-22,TEN,WAS,25,16,1,1,17.0,23.5,24.333333,16.0,16.0,15.000000,8.0,14,0.571429,268.0,254.0
495,2018123011,2018-12-30,TEN,IND,17,33,0,1,25.0,21.0,24.000000,28.0,25.5,25.000000,9.0,15,0.600000,293.0,270.0
496,2018090909,2018-09-09,WAS,ARI,24,6,1,0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0,NaN,NaN,NaN
497,2018091608,2018-09-16,WAS,IND,9,21,0,1,24.0,0.0,0.000000,23.0,0.0,0.000000,1.0,1,1.000000,24.0,6.0
498,2018092309,2018-09-23,WAS,GB,31,17,1,1,9.0,16.5,0.000000,29.0,26.5,0.000000,1.0,2,0.500000,33.0,27.0
499,2018100800,2018-10-08,WAS,NO,19,43,0,0,31.0,20.0,21.333333,33.0,38.0,32.333333,2.0,3,0.666667,64.0,44.0
500,2018101408,2018-10-14,WAS,CAR,23,17,1,1,19.0,25.0,19.666667,33.0,32.0,29.333333,2.0,4,0.500000,83.0,87.0
501,2018102110,2018-10-21,WAS,DAL,20,17,1,1,23.0,21.0,24.333333,40.0,28.0,27.333333,3.0,5,0.600000,106.0,104.0
502,2018102806,2018-10-28,WAS,NYG,20,13,1,0,20.0,21.5,20.666667,20.0,16.5,21.333333,4.0,6,0.666667,126.0,121.0
503,2018110406,2018-11-04,WAS,ATL,14,38,0,1,20.0,20.0,21.000000,23.0,28.5,24.666667,5.0,7,0.714286,146.0,134.0
504,2018111107,2018-11-11,WAS,TB,16,3,1,0,14.0,17.0,18.000000,28.0,31.0,29.333333,5.0,8,0.625000,160.0,172.0
505,2018111806,2018-11-18,WAS,HOU,21,23,0,1,16.0,15.0,16.666667,19.0,30.5,27.000000,6.0,9,0.666667,176.0,175.0
506,2018112201,2018-11-22,WAS,DAL,23,31,0,0,21.0,18.5,17.000000,22.0,24.5,21.000000,6.0,10,0.600000,197.0,198.0
507,2018120300,2018-12-03,WAS,PHI,13,28,0,0,23.0,22.0,20.000000,25.0,16.0,17.333333,6.0,11,0.545455,220.0,229.0
508,2018120908,2018-12-09,WAS,NYG,16,40,0,1,13.0,18.0,19.000000,30.0,26.0,30.000000,6.0,12,0.500000,233.0,257.0
509,2018121606,2018-12-16,WAS,JAX,16,13,1,0,16.0,14.5,17.333333,9.0,7.5,12.000000,6.0,13,0.461538,249.0,297.0
510,2018122200,2018-12-22,WAS,TEN,16,25,0,0,16.0,16.0,15.000000,17.0,23.5,24.333333,7.0,14,0.500000,265.0,310.0
511,2018123012,2018-12-30,WAS,PHI,0,24,0,1,16.0,16.0,16.000000,32.0,31.0,28.333333,7.0,15,0.466667,281.0,335.0

In [104]:
win_percentage = scores_2.filter(['GameID','date','team','win_pct','cum_wins','cum_PF','cum_PA'])

In [105]:
scores_3 = pd.merge(scores_2,win_percentage,how='left',left_on=['date','opponent'],right_on=['date','team'],suffixes=('','_opponent'))

In [106]:
scores_3 = scores_3.drop(['GameID_opponent','team_opponent'],axis=1)
scores_3['win_pct_var'] = scores_3['win_pct'] - scores_3['win_pct_opponent']
scores_3['cum_wins_var'] = scores_3['cum_wins'] - scores_3['cum_wins_opponent']
scores_3['cum_PF_cum_PA_opp'] = scores_3['cum_PF'] - scores_3['cum_PA_opponent']
scores_3['cum_PA_cum_PF_opp'] = scores_3['cum_PA'] - scores_3['cum_PF_opponent']
scores_3.head()

,GameID,date,team,opponent,PF,PA,win,hometeam,score1MA,score2MA,...,cum_PF,cum_PA,win_pct_opponent,cum_wins_opponent,cum_PF_opponent,cum_PA_opponent,win_pct_var,cum_wins_var,cum_PF_cum_PA_opp,cum_PA_cum_PF_opp
0,2018090909,2018-09-09,ARI,WAS,6,24,0,1,0.0,0.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN
1,2018091609,2018-09-16,ARI,LA,0,34,0,0,6.0,0.0,...,6.0,24.0,1.000000,1.0,33.0,13.0,-1.000000,-1.0,-7.0,-9.0
2,2018092311,2018-09-23,ARI,CHI,14,16,0,1,0.0,3.0,...,6.0,58.0,0.500000,1.0,47.0,41.0,-0.500000,-1.0,-35.0,11.0
3,2018093008,2018-09-30,ARI,SEA,17,20,0,1,14.0,7.0,...,20.0,74.0,0.333333,1.0,65.0,64.0,-0.333333,-1.0,-44.0,9.0
4,2018100710,2018-10-07,ARI,SF,28,18,1,0,17.0,15.5,...,37.0,94.0,0.250000,1.0,100.0,118.0,-0.250000,-1.0,-81.0,-6.0

#### Import player stats for each game

In [24]:
player = pd.read_csv("C:/NFL Prediction/Data Raw/ps18.csv",index_col=0)

In [25]:
player.head()

,Season,game.id,date,Team,playerID,name,pass.att,pass.comp,passyds,pass.tds,...,asst.tackles,sacks,defints,forced.fumbs,totalfumbs,recfumbs,totalrecfumbs,fumbyds,fumbslost,games
1,2018,2018090600,2018-09-06,PHI,00-0029567,N.Foles,34,19,117,0,...,0,0.0,0,0,1,1,1,0,0,1
2,2018,2018090600,2018-09-06,PHI,00-0033731,T.Sullivan,0,0,0,0,...,0,0.0,0,0,1,0,0,0,1,1
3,2018,2018090600,2018-09-06,PHI,00-0023564,D.Sproles,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,1
4,2018,2018090600,2018-09-06,PHI,00-0033573,S.Gibson,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,1
5,2018,2018090600,2018-09-06,PHI,00-0031549,N.Agholor,1,1,15,0,...,0,0.0,0,0,0,0,0,0,0,1

In [26]:
player.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13649 entries, 1 to 13649
Data columns (total 57 columns):
Season           13649 non-null int64
game.id          13649 non-null int64
date             13649 non-null object
Team             13624 non-null object
playerID         13649 non-null object
name             13649 non-null object
pass.att         13649 non-null int64
pass.comp        13649 non-null int64
passyds          13649 non-null int64
pass.tds         13649 non-null int64
pass.ints        13649 non-null int64
pass.twopta      13649 non-null int64
pass.twoptm      13649 non-null int64
rush.att         13649 non-null int64
rushyds          13649 non-null int64
rushtds          13649 non-null int64
rushlng          13649 non-null int64
rushlngtd        13649 non-null int64
rush.twopta      13649 non-null int64
rush.twoptm      13649 non-null int64
recept           13649 non-null int64
recyds           13649 non-null int64
rec.tds          13649 non-null int64
reclng           13649 non-null int64
reclngtd         13649 non-null int64
rec.twopta       13649 non-null int64
rec.twoptm       13649 non-null int64
kick.rets        13649 non-null int64
kickret.avg      13649 non-null int64
kickret.tds      13649 non-null int64
kick.ret.lng     13649 non-null int64
kickret.lngtd    13649 non-null int64
punt.rets        13649 non-null int64
puntret.avg      13649 non-null int64
puntret.tds      13649 non-null int64
puntret.lng      13649 non-null int64
puntret.lngtd    13649 non-null int64
fgm              13649 non-null int64
fga              13649 non-null int64
fgyds            13649 non-null int64
totpts.fg        13649 non-null int64
xpmade           13649 non-null int64
xpmissed         13649 non-null int64
xpa              13649 non-null int64
xpb              13649 non-null int64
xppts.tot        13649 non-null int64
tackles          13649 non-null int64
asst.tackles     13649 non-null int64
sacks            13649 non-null float64
defints          13649 non-null int64
forced.fumbs     13649 non-null int64
totalfumbs       13649 non-null int64
recfumbs         13649 non-null int64
totalrecfumbs    13649 non-null int64
fumbyds          13649 non-null int64
fumbslost        13649 non-null int64
games            13649 non-null int64
dtypes: float64(1), int64(52), object(4)
memory usage: 5.8+ MB

#### Aggregate the columns to team and date level

In [27]:
team = player.groupby(['Team','date']).sum().reset_index()

In [28]:
team.head()

,Team,date,Season,game.id,pass.att,pass.comp,passyds,pass.tds,pass.ints,pass.twopta,...,asst.tackles,sacks,defints,forced.fumbs,totalfumbs,recfumbs,totalrecfumbs,fumbyds,fumbslost,games
0,ARI,2018-09-09,46414,46416090907,34,20,153,0,1,1,...,15,3.0,0,2,1,0,1,0,1,23
1,ARI,2018-09-16,46414,46416107007,27,17,90,0,1,0,...,19,2.0,1,0,0,0,0,0,0,23
2,ARI,2018-09-23,50450,50452307775,26,17,193,2,3,0,...,16,3.0,1,1,2,1,2,0,1,25
3,ARI,2018-09-30,54486,54488511216,27,15,180,1,0,0,...,1,2.0,0,2,2,1,1,0,1,27
4,ARI,2018-10-07,46414,46416316330,25,10,170,1,0,0,...,21,4.0,2,3,1,1,4,72,0,23

# Run Model

In [107]:
scores_3.fillna(0, inplace=True)

X=scores_3[['score1MA','hometeam','cum_wins_var','cum_PF','cum_PA','cum_PF_cum_PA_opp','cum_PA_cum_PF_opp']]  # Features
y=scores_3['win']  # Labels

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [110]:
clf=RandomForestClassifier(n_estimators=100,min_samples_leaf=20)
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.5454545454545454

In [111]:
clf.score(X_train,y_train)

0.723463687150838

In [112]:
feature_importances = pd.DataFrame(clf.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance',ascending=False)
feature_importances

                   importance
cum_PF_cum_PA_opp    0.196144
score1MA             0.163509
cum_PA_cum_PF_opp    0.152062
cum_PA               0.146758
hometeam             0.136369
cum_PF               0.118839
cum_wins_var         0.086319

In [33]:
team.corr()

,Season,game.id,pass.att,pass.comp,passyds,pass.tds,pass.ints,pass.twopta,pass.twoptm,rush.att,...,asst.tackles,sacks,defints,forced.fumbs,totalfumbs,recfumbs,totalrecfumbs,fumbyds,fumbslost,games
Season,1.000000,1.000000,0.094738,0.059402,0.066156,0.022737,0.029400,-0.000546,-0.067025,-0.056462,...,0.156220,0.007156,0.024758,-0.061828,0.037763,0.070571,0.023604,-0.030357,-0.003442,1.000000
game.id,1.000000,1.000000,0.094729,0.059393,0.066143,0.022729,0.029396,-0.000548,-0.067027,-0.056459,...,0.156224,0.007155,0.024755,-0.061833,0.037759,0.070567,0.023600,-0.030355,-0.003443,1.000000
pass.att,0.094738,0.094729,1.000000,0.871394,0.662993,0.092164,0.282843,0.272143,0.168898,-0.438757,...,0.019647,-0.140815,-0.157295,-0.081766,0.114542,-0.014914,-0.081599,-0.139443,0.223178,0.094738
pass.comp,0.059402,0.059393,0.871394,1.000000,0.776024,0.243571,0.122287,0.260056,0.161179,-0.365487,...,-0.042829,-0.120367,-0.168576,-0.080259,0.136556,-0.003809,-0.089594,-0.126877,0.228164,0.059402
passyds,0.066156,0.066143,0.662993,0.776024,1.000000,0.523539,0.093346,0.254015,0.200639,-0.225678,...,-0.017563,-0.044256,-0.123188,-0.052112,0.064924,-0.017414,-0.056500,-0.103763,0.118211,0.066156
pass.tds,0.022737,0.022729,0.092164,0.243571,0.523539,1.000000,-0.095620,0.140548,0.155166,0.050371,...,-0.001678,0.082012,0.078079,0.062989,-0.046482,-0.031253,0.032131,-0.017377,-0.041184,0.022737
pass.ints,0.029400,0.029396,0.282843,0.122287,0.093346,-0.095620,1.000000,0.058614,0.040833,-0.181914,...,0.098483,-0.082520,-0.083441,-0.025834,-0.004360,-0.017912,-0.027767,-0.069647,0.032185,0.029400
pass.twopta,-0.000546,-0.000548,0.272143,0.260056,0.254015,0.140548,0.058614,1.000000,0.673605,-0.146960,...,-0.065502,-0.049449,-0.084848,-0.058847,0.031043,-0.021044,-0.072585,-0.000543,0.084078,-0.000546
pass.twoptm,-0.067025,-0.067027,0.168898,0.161179,0.200639,0.155166,0.040833,0.673605,1.000000,-0.077365,...,-0.038787,-0.081839,-0.071604,-0.036035,-0.024922,-0.038424,-0.067395,-0.017553,0.014507,-0.067025
rush.att,-0.056462,-0.056459,-0.438757,-0.365487,-0.225678,0.050371,-0.181914,-0.146960,-0.077365,1.000000,...,-0.239365,0.162031,0.229744,0.073483,0.019182,0.106455,0.172945,0.018136,-0.113000,-0.056462
rushyds,-0.017833,-0.017828,-0.416320,-0.383052,-0.256199,0.065214,-0.100434,-0.128717,-0.069486,0.764185,...,-0.098176,0.101012,0.143733,-0.007506,-0.010911,0.058995,0.068743,-0.033058,-0.108029,-0.017833
rushtds,0.073579,0.073584,-0.160469,-0.099732,0.004894,-0.103301,-0.164911,-0.036742,-0.032704,0.393531,...,0.005049,0.155797,0.091968,0.033366,-0.083671,0.003829,0.035848,0.032768,-0.164178,0.073579
rushlng,0.070144,0.070148,-0.313400,-0.293538,-0.204405,0.049035,-0.093868,-0.077395,-0.035491,0.421870,...,-0.004297,0.068388,0.085367,-0.033508,-0.001951,0.026662,0.019327,-0.028013,-0.061687,0.070144
rushlngtd,0.072769,0.072773,-0.211114,-0.187724,-0.121142,-0.050078,-0.083562,-0.060591,-0.064600,0.187065,...,0.041064,0.127421,0.100724,0.040157,-0.084699,-0.021390,-0.002188,-0.014940,-0.115407,0.072769
rush.twopta,-0.033560,-0.033564,0.004431,0.038441,0.070703,0.019259,-0.078052,0.061601,0.060601,0.047128,...,0.003532,-0.012869,-0.029933,-0.043140,0.079457,-0.002160,-0.035986,0.027060,0.130901,-0.033560
rush.twoptm,-0.052627,-0.052632,0.010711,0.033752,0.048755,-0.000629,-0.049504,0.083420,0.063755,0.020181,...,0.010502,-0.023255,-0.012610,-0.021201,0.046504,-0.009936,-0.048485,-0.007761,0.100032,-0.052627
recept,0.059402,0.059393,0.871394,1.000000,0.776024,0.243571,0.122287,0.260056,0.161179,-0.365487,...,-0.042829,-0.120367,-0.168576,-0.080259,0.136556,-0.003809,-0.089594,-0.126877,0.228164,0.059402
recyds,0.065900,0.065887,0.663096,0.776169,0.999996,0.523413,0.093233,0.253938,0.200582,-0.225681,...,-0.017565,-0.044283,-0.123150,-0.052072,0.064996,-0.017503,-0.056509,-0.103630,0.118438,0.065900
rec.tds,0.022737,0.022729,0.092164,0.243571,0.523539,1.000000,-0.095620,0.140548,0.155166,0.050371,...,-0.001678,0.082012,0.078079,0.062989,-0.046482,-0.031253,0.032131,-0.017377,-0.041184,0.022737
reclng,0.165078,0.165068,0.323869,0.402063,0.776397,0.497007,0.034871,0.141011,0.107071,-0.119122,...,0.036443,0.012620,-0.028995,-0.022502,0.022055,-0.040752,-0.045664,-0.043198,0.057956,0.165078
reclngtd,0.000240,0.000232,-0.045509,0.060254,0.426607,0.689741,-0.041163,0.045197,0.108014,0.015227,...,0.060757,0.085446,0.071299,0.088264,-0.071247,-0.078987,0.001983,0.002301,-0.053275,0.000240
rec.twopta,-0.001645,-0.001650,0.277619,0.260713,0.257784,0.151507,0.068589,0.935429,0.624569,-0.168139,...,-0.070158,-0.064985,-0.088547,-0.046605,0.046124,-0.015602,-0.063890,0.013784,0.098922,-0.001645
rec.twoptm,-0.044735,-0.044739,0.208949,0.191332,0.234266,0.187693,0.038186,0.640998,0.939449,-0.122786,...,-0.037877,-0.072878,-0.081990,-0.019958,-0.005770,-0.029187,-0.056959,-0.012749,0.038843,-0.044735
kick.rets,0.033766,0.033773,0.105956,0.031944,0.063430,0.055032,0.123465,0.055132,0.003047,-0.185592,...,0.121429,-0.101497,-0.108384,-0.064901,0.050434,0.014782,-0.018515,-0.102266,0.093477,0.033766
kickret.avg,0.049651,0.049654,0.028275,-0.003266,0.019911,0.079739,0.054503,0.063584,0.028861,-0.110019,...,0.148858,-0.089380,-0.047245,-0.052438,-0.015281,-0.056296,-0.068783,-0.086680,0.070666,0.049651
kickret.tds,0.017591,0.017590,-0.014802,-0.009209,0.017120,0.012037,0.039722,-0.039931,-0.028201,0.003641,...,0.035571,-0.027354,0.060538,-0.063767,-0.022500,-0.050456,-0.071187,-0.016593,0.008140,0.017591
kick.ret.lng,0.050139,0.050142,0.023598,-0.016418,0.020034,0.083808,0.058765,0.032902,0.009087,-0.120762,...,0.159119,-0.086896,-0.054422,-0.070854,-0.016474,-0.048883,-0.071320,-0.092915,0.055489,0.050139
kickret.lngtd,0.015919,0.015918,-0.015776,-0.009385,0.017313,0.013117,0.038978,-0.039913,-0.028188,0.003417,...,0.036990,-0.027693,0.060981,-0.063833,-0.023582,-0.051065,-0.071315,-0.016586,0.006663,0.015919
punt.rets,-0.004381,-0.004388,0.030320,-0.013097,-0.014418,-0.034508,0.001491,-0.035878,-0.058378,0.151709,...,-0.040140,0.236685,0.017533,-0.031134,0.070275,0.122203,0.063320,0.006518,-0.045181,-0.004381
puntret.avg,-0.044203,-0.044207,-0.092789,-0.088547,-0.082117,0.021181,-0.038139,0.022080,0.043750,0.111496,...,0.013774,0.113012,0.080151,-0.057555,-0.068782,-0.034522,-0.056021,0.018172,-0.063964,-0.044203
puntret.tds,-0.078296,-0.078295,-0.104189,-0.100238,-0.090224,-0.022108,0.004786,0.026332,0.075252,0.053729,...,0.005769,-0.061357,0.075297,-0.044403,-0.056692,-0.046797,-0.064600,0.033961,-0.018397,-0.078296
puntret.lng,-0.048480,-0.048484,-0.107511,-0.113344,-0.099713,0.004144,-0.020865,-0.006666,0.018171,0.156598,...,0.001822,0.167446,0.099673,-0.043649,-0.030780,-0.013913,-0.046375,0.026364,-0.053431,-0.048480
puntret.lngtd,-0.073482,-0.073482,-0.104808,-0.099188,-0.088235,-0.019700,-0.004623,0.020196,0.065891,0.052582,...,0.015771,-0.065255,0.080975,-0.042878,-0.057174,-0.043651,-0.061521,0.024031,-0.022700,-0.073482
fgm,0.012627,0.012622,0.027756,0.034019,0.052071,-0.166103,-0.127847,-0.015890,-0.024802,0.246065,...,-0.140590,0.025163,0.126684,0.014606,0.026505,0.056964,0.075570,0.040847,-0.063918,0.012627
fga,-0.014526,-0.014531,0.087058,0.097952,0.117438,-0.144112,-0.108863,0.006925,0.013706,0.226670,...,-0.165703,0.015438,0.091047,0.021535,0.028735,0.048928,0.082354,0.036590,-0.046623,-0.014526
fgyds,0.019052,0.019049,0.041725,0.051651,0.054870,-0.088258,-0.097220,0.006069,-0.042798,0.191488,...,-0.142195,0.012718,0.115212,-0.027229,0.084570,0.089957,0.059971,0.061519,-0.000374,0.019052
totpts.fg,0.012627,0.012622,0.027756,0.034019,0.052071,-0.166103,-0.127847,-0.015890,-0.024802,0.246065,...,-0.140590,0.025163,0.126684,0.014606,0.026505,0.056964,0.075570,0.040847,-0.063918,0.012627
xpmade,0.063222,0.063219,-0.168722,-0.016139,0.259600,0.654883,-0.158286,-0.253870,-0.136398,0.345948,...,0.015142,0.188593,0.238901,0.123393,-0.118414,-0.015387,0.098281,0.104920,-0.182943,0.063222
xpmissed,-0.009027,-0.009025,0.031615,0.051030,0.139938,0.186714,-0.042673,0.076294,0.102677,-0.015212,...,-0.019055,0.079919,0.000926,0.033084,-0.004695,-0.018662,0.036886,-0.002311,-0.030696,-0.009027
xpa,0.060282,0.060280,-0.159008,-0.003279,0.291524,0.694084,-0.167151,-0.232114,-0.109378,0.338360,...,0.010239,0.206381,0.236502,0.130258,-0.118278,-0.019856,0.106368,0.103192,-0.188559,0.060282
xpb,0.025778,0.025780,0.014965,0.033145,0.046222,0.043975,-0.052858,-0.035680,-0.025199,0.026900,...,-0.020091,-0.049878,-0.006358,0.025315,-0.020105,-0.010735,0.010369,-0.014827,-0.005058,0.025778
xppts.tot,0.063222,0.063219,-0.168722,-0.016139,0.259600,0.654883,-0.158286,-0.253870,-0.136398,0.345948,...,0.015142,0.188593,0.238901,0.123393,-0.118414,-0.015387,0.098281,0.104920,-0.182943,0.063222
tackles,-0.010555,-0.010560,-0.101091,-0.183347,-0.105686,0.029792,-0.016541,-0.010735,-0.030762,-0.411054,...,-0.149528,0.122708,-0.022414,0.189486,-0.062752,-0.076857,0.049533,0.143231,-0.027659,-0.010555
asst.tackles,0.156220,0.156224,0.019647,-0.042829,-0.017563,-0.001678,0.098483,-0.065502,-0.038787,-0.239365,...,1.000000,-0.059999,0.002747,-0.023274,-0.093573,-0.095101,-0.092084,0.038429,-0.015775,0.156220
sacks,0.007156,0.007155,-0.140815,-0.120367,-0.044256,0.082012,-0.082520,-0.049449,-0.081839,0.162031,...,-0.059999,1.000000,0.028967,0.247326,-0.013450,0.025917,0.159033,0.087309,-0.073271,0.007156
defints,0.024758,0.024755,-0.157295,-0.168576,-0.123188,0.078079,-0.083441,-0.084848,-0.071604,0.229744,...,0.002747,0.028967,1.000000,0.028745,-0.022626,-0.044326,-0.013713,0.049154,-0.021862,0.024758
forced.fumbs,-0.061828,-0.061833,-0.081766,-0.080259,-0.052112,0.062989,-0.025834,-0.058847,-0.036035,0.073483,...,-0.023274,0.247326,0.028745,1.000000,-0.062648,0.002374,0.449667,0.234356,-0.106447,-0.061828
totalfumbs,0.037763,0.037759,0.114542,0.136556,0.064924,-0.046482,-0.004360,0.031043,-0.024922,0.019182,...,-0.093573,-0.013450,-0.022626,-0.062648,1.000000,0.728229,0.475196,-0.091529,0.619209,0.037763
recfumbs,0.070571,0.070567,-0.014914,-0.003809,-0.017414,-0.031253,-0.017912,-0.021044,-0.038424,0.106455,...,-0.095101,0.025917,-0.044326,0.002374,0.728229,1.000000,0.712441,-0.047423,0.005363,0.070571
totalrecfumbs,0.023604,0.023600,-0.081599,-0.089594,-0.056500,0.032131,-0.027767,-0.072585,-0.067395,0.172945,...,-0.092084,0.159033,-0.013713,0.449667,0.475196,0.712441,1.000000,0.195148,-0.048577,0.023604
fumbyds,-0.030357,-0.030355,-0.139443,-0.126877,-0.103763,-0.017377,-0.069647,-0.000543,-0.017553,0.018136,...,0.038429,0.087309,0.049154,0.234356,-0.091529,-0.047423,0.195148,1.000000,-0.079133,-0.030357
fumbslost,-0.003442,-0.003443,0.223178,0.228164,0.118211,-0.041184,0.032185,0.084078,0.014507,-0.113000,...,-0.015775,-0.073271,-0.021862,-0.106447,0.619209,0.005363,-0.048577,-0.079133,1.000000,-0.003442
games,1.000000,1.000000,0.094738,0.059402,0.066156,0.022737,0.029400,-0.000546,-0.067025,-0.056462,...,0.156220,0.007156,0.024758,-0.061828,0.037763,0.070571,0.023604,-0.030357,-0.003442,1.000000